.row {
	max-width: $grid-width;
	margin: 0 auto;
	&:not(:last-child) {
		margin-bottom: $vertical-gutter;
	}
	@include clearfix;

	[class^=col-] {
		float: left;
		&:not(:last-child) {
			margin-right: $horizontal-gutter;
		}
	}
	.col-1-of-2 {
		width: calc((100% - #{$horizontal-gutter}) /2);
	}
	.col-1-of-4 {
		width: calc((100% - 3* #{$horizontal-gutter})/4);
		
	}
}
